@page "/"
@inject IMultiDimensionalListService MultiDimensionalListService
@implements IDisposable

<h1>Hello, world!</h1>

Welcome to your new app.


@if (MultiDimensionalListService.HightestDimensionElement != null)
{
    <EditForm Model="tmp">
        <InputRadioGroup @bind-Value="toEdit">
            @foreach (var i in MultiDimensionalListService.HightestDimensionElement.LowerDimensionList)
            {
                <InputRadio Value="i"></InputRadio>
            }
        </InputRadioGroup>
    </EditForm>
}


@code
{
    public OpenableMultiDimensionalList toEdit = new OpenableMultiDimensionalList
    {
        Id = -1,
        Name = "",
        Data = 0,
        IsOpen = false,
        ParrentId = 0,
        LowerDimensionList = new List<OpenableMultiDimensionalList>()
    };

    public OpenableMultiDimensionalList tmp = new OpenableMultiDimensionalList();


    protected override async Task OnInitializedAsync()
    {
        MultiDimensionalListService.OnChange += StateHasChanged;
        if (MultiDimensionalListService.HightestDimensionElement == null)
            await MultiDimensionalListService.GetHightestDimensionElement();
    }

    public void Dispose()
    {
        MultiDimensionalListService.OnChange -= StateHasChanged;
    }
}