@page "/MultiDimensionalList"
@inject IMultiDimensionalListService MultiDimensionalListService
@implements IDisposable


@if (MultiDimensionalListService.HightestDimensionElement == null)
{
    <h2>Elelments Are Loading</h2>
}
else
{
    <EditForm Model="ParrentId ">
        <InputRadioGroup @bind-Value="ParrentId ">
            <RecoursiveRenderMultiDimensionalListComponent lst="MultiDimensionalListService.HightestDimensionElement" @bind-elemToEdit="elemToEdit"></RecoursiveRenderMultiDimensionalListComponent>
        </InputRadioGroup>
    </EditForm>
}


<MultiDimensionalListManagementComponent elemToEdit="elemToEdit"></MultiDimensionalListManagementComponent>
@elemToEdit.Id
@elemToEdit.ParrentId
@elemToEdit.Name
@ParrentId


@code {
    public OpenableMultiDimensionalList elemToEdit = new OpenableMultiDimensionalList
    {
        Id = -1,
        Name = "",
        Data = 0,
        IsOpen = false,
        ParrentId = 0,
        LowerDimensionList = new List<OpenableMultiDimensionalList>()
    };
    public int ParrentId = 1;

    protected override async Task OnInitializedAsync()
    {
        MultiDimensionalListService.OnChange += StateHasChanged;
        if (MultiDimensionalListService.HightestDimensionElement == null)
            await MultiDimensionalListService.GetHightestDimensionElement();
    }


    public void Dispose()
    {
        MultiDimensionalListService.OnChange -= StateHasChanged;
    }
}
